body {
  background-color: bisque;
}

h1 {
  text-align: center;
}

img {
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}

contact-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
}